:root{
    --logo-color : #68442B;
}

/* base setting */
*, html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: var(--logo-color);
    scroll-behavior: smooth !important;  
}


body {
    scroll-behavior: smooth;
}

li , i , a{ 
    cursor: pointer;
    text-decoration: none;
}


/* scroll bar design */
::-webkit-scrollbar-track {
  background: black;
  border-left: #3d2413 solid 0.8px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
   //border-radius: 100px;
    background: var(--logo-color); 
}
::-webkit-scrollbar-thumb:hover {
    background: #3d2413;
}


/* Header setting */
header {
    //visibility: hidden;
    width: 99%;
    height: 10vh;
    margin: auto 0.5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 3px;
    z-index: 99;
    .continers {
        width: 70%;
        nav {
            ul{
                width: 60%;
                margin: auto 20%;
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                list-style: none;
                li{
                    font-size: clamp(0.5rem, 3vw, 0.8rem);
                }
            }
        }   
    }

    .searchInput {
        position: fixed;
        top: 12%;
        right: 6%;
        opacity: 0.80;
        border: var(--logo-color) solid 1px;
        border-radius: 5px;
        color: aliceblue;
        animation: searchBarTransformation 0.75s ease;
    }
    .searchInput::placeholder {
        font-size: 0.9rem;
        text-align: center;
    }

    @keyframes searchBarTransformation {
        from {
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
}


/* main setting */
main {
    position: relative;  
    width: 100%;
    #Home {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("/resources/images/bg_main.png") center no-repeat;
        background-size: cover;
        background-position: left; 
        color: wheat;
        h1 {
            position: relative;
            top: -40px;
            padding-left: 90px;
            font-size: clamp(1.5rem, 5vw, 3rem);
            background: transparent;
        }
        p{
            position: relative;
            font-size: 0.6rem;
            color: #8d8680;
            width: 15cm;
            top: -70px;
            padding-left: 90px;
            background: transparent;
        }
    }

    #Menu {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        overflow: hidden;
        .slide-images {
            width: 40%; 
            height: 88vh;
            margin: auto 2.5%;
            .img-container{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;        
                width: 100%;
                height: 105%;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 5%;
                    z-index: 2;
                }
                p {
                    z-index: 3;
                    color: white;
                    font-size: 2rem;
                    background: transparent;
                }
            }

        }
        

        .imageStack{
            width: 35%;
            margin: auto 2.5%;
            height: 88vh;
            .parentMenu {
                margin-top: 20px;
                margin-bottom: 20px;
                border: #8d8680 solid 1px;
                border-radius: 20px;
                width: 100%;
                height: 50%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                .bg-childMenu{
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    position: absolute;
                    z-index: 1;
                }
                .title-childMenu{
                    z-index: 3;
                    color: white;
                    background: transparent;
                }
            }
            .parentMenu:hover  .title-childMenu{
                    font-size: 2rem;
            }

            .parentMenu:hover  .bg-childMenu{
                    filter: blur(10px);
        }


        }
        .Espresso {
            background: url(/resources/images/Espresso.png) no-repeat center;
            background-size: cover;
            border-radius: 20px;
        }
        
        .Turkish_Coffee {
            background: url(/resources/images/Turkish_Coffee.webp) no-repeat center;
            background-size: 550px;
            border-radius: 20px;
        }
    }
    

    .aboutParent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        .aboutBG{
            position: absolute;
            width: 100%;
            height: 100vh;
            background: url(/resources/images/coffee_shop.png) no-repeat center;
            background-size: cover;
            filter: blur(5px);
        }
        .aboutTEXT {
            z-index: 3;
            color: white;
            background: transparent;
            font-size: 4rem;
        }
    }
    #About {
        width: 100%;
        height: 70vh;

        section {
            width: 90%;
            margin: 3% 5%;

            p{
                color: rgb(194, 194, 194);
            }
        }
    }

    .aboutContact {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: url(/resources/images/contact.webp) no-repeat center;
        background-size: cover;
        filter: blur(5px);
    }
    #contact {
        width: 100%;
        height: 70vh;

        div {
            width: 50%;
            height: 50vh;
            margin: 8% 25%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .bgcontact {
                width: 100%;
                height: 100%;
                background: url(/resources/images/bgcontact.avif) no-repeat center;
                background-size: cover;
                position: absolute;
                padding: 50px;
                border-radius: 8%;
                filter: blur(8px);
            }

            form {
                z-index: 5;
                padding: 50px;
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: transparent;
                text-align: center;
                width: 100%;
                height: 100%;
                
                
                input, textarea {
                    margin: 10px;
                    border-radius: 3%;
                    background: white;
                }

                #Email, #Subject, #submit {
                    text-align: center;
                    border-radius: 10px;
                    padding: 6px;
                }
            }
        }
    }
}



#MainbackUP {
    z-index: 10;
    position: sticky;
    top: 10vh;
    cursor: pointer;
    i {
        background: transparent;
        z-index: 99999;
        position: absolute;
        top: 75vh;
        left: 92vw;
        opacity: 0.80;
    }
}


/* Modle */
.backBlur::before {
    content: "";
    position: absolute;
    background-color: #bdbdbd;
    opacity: 0.80;
    width: 100%;
    height: 100%;
}
.backBlur {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: transparent;
    

    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 70%;
        margin: 35%;
        border-radius: 5%;
        background: transparent;
        
        .Modle {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: transparent;
            

            .bgOFmodle {
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(/resources/images/bg_login.webp) no-repeat center;
                background-size: 160%;
                filter: blur(10px);
            }

            .modleLayer {
                z-index: 1;
            }

            .login , .register{
                z-index: 2;
                width: 100%;
                height: 100%;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;

                form {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    span {
                        background: transparent;
                    }
                    label {
                        background: transparent;
                        color: white;
                    }
                    input {
                        opacity: 0.90;
                        border: #8d8680 solid 1px;
                        border-radius: 10px;
                        color: aliceblue;
                    }
                    .sub{
                        border: #000000;
                        background-color: aliceblue;
                        color: black;
                        padding: 0.3rem;
                        cursor: pointer;
                        margin: 2px;
                        span {
                            background: transparent;
                            opacity: 0;
                        }
                    }
                    #submit1,  #submit2{
                        cursor: pointer;
                        padding-left: 10px;
                    }

                    .closeModle {
                        content: "X";
                        width: 6%;
                        background-color: rgb(117, 52, 52);
                        border-radius: 10px;
                        color: aliceblue;
                        justify-self: flex-start;
                        align-self: flex-end;
                        position: absolute;
                        top: 3%;
                        right: 3%;
                        cursor: pointer;
                    }
                }

                .register {
                    position: absolute;
                }
            }
        }
    }
}

@keyframes ModleSignUp{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

@keyframes ModleLogin{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}


/* fotter setting */
footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .footer_last {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .social {
            height: 10vh;
            width: 10%;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }   
    }
    p {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        border-top: #68442B solid 2px;
        font-size: 0.7rem;
    }
}





/* animation od header */
.HeaderAnimetion {
    animation: HeaderOpacity 3s ease-in;
    display: none;
}


@keyframes HeaderOpacity {
    100%,
    0%{
        opacity: 1;
    }
    70% {
        opacity: 0;
        transform: translateY(-100px);
    }
}