:root{
    --logo-color : #68442B;
}

/* base setting */
*, html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: var(--logo-color);
    scroll-behavior: smooth !important;  
}


body {
    scroll-behavior: smooth;
}

li , i , a{ 
    cursor: pointer;
    text-decoration: none;
}


/* scroll bar design */
::-webkit-scrollbar-track {
  background: black;
  border-left: #3d2413 solid 0.8px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
   //border-radius: 100px;
    background: var(--logo-color); 
}
::-webkit-scrollbar-thumb:hover {
    background: #3d2413;
}


/* Header setting */
header {
    //visibility: hidden;
    width: 99%;
    height: 10vh;
    margin: auto 0.5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 3px;
    z-index: 99;
    .continers {
        width: 70%;
        nav {
            ul{
                width: 60%;
                margin: auto 20%;
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                list-style: none;
                li{
                    font-size: clamp(0.5rem, 3vw, 0.8rem);
                }
            }
        }   
    }

    .searchInput {
        position: fixed;
        top: 12%;
        right: 6%;
        opacity: 0.80;
        border: var(--logo-color) solid 1px;
        border-radius: 5px;
        color: aliceblue;
        animation: searchBarTransformation 0.75s ease;
    }
    .searchInput::placeholder {
        font-size: 0.9rem;
        text-align: center;
    }

    @keyframes searchBarTransformation {
        from {
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
}


/* main setting */
main {
    position: relative;  
    width: 100%;
    #Home {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("/resources/images/bg_main.png") center no-repeat;
        background-size: cover;
        background-position: left; 
        color: wheat;
        h1 {
            position: relative;
            top: -40px;
            padding-left: 90px;
            font-size: clamp(1.5rem, 5vw, 3rem);
            background: transparent;
        }
        p{
            position: relative;
            font-size: 0.6rem;
            color: #8d8680;
            width: 15cm;
            top: -70px;
            padding-left: 90px;
            background: transparent;
        }
    }

    #Menu {
        //z-index: 99;
        width: 100%;
        height: 200vh;
        //background-color: #3d2413;
    }

    #About {
        width: 100%;
        height: 200vh;
    }
}

#MainbackUP {
    position: sticky;
    top: 10vh;
    cursor: pointer;
    i {
        background: transparent;
        z-index: 99999;
        position: absolute;
        top: 75vh;
        left: 92vw;
        opacity: 0.75;
    }
}


/* Modle */
.backBlur {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #8d8680;
    opacity: 0.90;

    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 70%;
        margin: 35%;
        border-radius: 5%;
        
        .Modle {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: url(/resources/images/bg_login.webp) no-repeat center;
            background-size: 120%;

            .modleLayer {
                z-index: 1;
            }

            .login , .register{
                z-index: 2;
                width: 100%;
                height: 100%;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;

                form {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    span {
                        background: transparent;
                    }
                    label {
                        background: transparent;
                        color: white;
                    }
                    input {
                        opacity: 0.90;
                        border: #8d8680 solid 1px;
                        border-radius: 10px;
                        color: aliceblue;
                    }
                    .sub{
                        border: #000000;
                        background-color: aliceblue;
                        color: black;
                        padding: 0.3rem;
                        cursor: pointer;
                        margin: 2px;
                        span {
                            background: transparent;
                            opacity: 0;
                        }
                    }
                    #submit1,  #submit2{
                        cursor: pointer;
                        padding-left: 10px;
                    }

                    .closeModle {
                        content: "X";
                        width: 6%;
                        background-color: rgb(117, 52, 52);
                        border-radius: 10px;
                        color: aliceblue;
                        justify-self: flex-start;
                        align-self: flex-end;
                        position: absolute;
                        top: 3%;
                        right: 3%;
                        cursor: pointer;
                    }
                }

                .register {
                    position: absolute;
                }
            }
        }
    }
}

@keyframes ModleSignUp{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

@keyframes ModleLogin{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}


/* fotter setting */
footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .footer_last {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .social {
            height: 10vh;
            width: 10%;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }   
    }
    p {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        border-top: #68442B solid 2px;
        font-size: 0.7rem;
    }
}





/* animation od header */
.HeaderAnimetion {
    animation: HeaderOpacity 0.75s ease-in;
    display: none;
}


@keyframes HeaderOpacity {
    100%,
    0%{
        opacity: 1;
    }
    70% {
        opacity: 0;
        transform: translateY(-100px);
    }
}