<div id="MainbackUP" style="display: none;">
    <a href="#aboutMain"><i class="fa fa-sort-asc fa-3x"></i></a>
</div>

<div id="aboutMain" class="aboutParent">
    <div class="aboutContact"></div>
    <div class="aboutTEXT">Contact</div>
  </div>

<div id="contact">
    <div>
        <div class="bgcontact">

        </div>
        <form action="" method="post">
            <input type="email" name="" id="Email" placeholder="Email">
            <input type="text" name="" id="Subject" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter the text here"></textarea>

            <input type="submit" id = "submit">
        </form>
    </div>
</div>
